body {
	background-color: #EFCDF5;
	max-width: 800px;
	margin: auto;
}

.tabelka
{
border-collapse: collapse;
background-color: white;
margin: 45px 0;
min-width: 850px;
border: 1px solid black;
}

.tabelka thead
{
background-color: #EA58FF;
}

.tabelka tr:nth-child(even)
{
background-color: pink;
}
